/*custom font*/
@import url(font.css);

/*basic reset*/
* {margin: 0; padding: 0;}
body {
	font-family: montserrat, arial, verdana;
	background: rgb(105,105,105);
}
/*form styles*/
#msform {
	width: 100%;
	margin: 20px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: rgba(19, 35, 47, 1);
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 50%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
	margin : 0 25% 0 25%;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select{
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 10px;
}
.fs-subtitle {
	position: relative;
	top: 17px;
	text-align: left;
	font-weight: normal;
	font-size: 16px;
	color: #eaeaea;
	margin-bottom: 30px;
}
#tab_input{
	position: relative;
	/*width: 100%;*/
}
#tab_input input:first-child{
	position: relative;
	width: 48%;
	float: left;
	margin-right: 2%;
}
#tab_input select{
	position: relative;
	width: 50%;
	float: right;
}
#tab_input input:nth-child(2){
	position: relative;
	width: 50%;
	float: right;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	margin-left: 9.5%;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 12.7%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

#cetak{
	color: white; text-align: left;
	width: 80%;
	margin: auto;
}
